# Android Studio / IntelliJ
*.iml
.idea/
.gradle/

# Конфігурації
local.properties

# Зібрані файли
build/
*/build/
/captures/

# Файли C++
.externalNativeBuild/
.cxx/

# Файли безпеки та ключі
*.jks
*.keystore
key.properties